<h1>Test yourself</h1>

<!-- <p>Unfortunately, "%= vocabtable.mot %>" is "%= vocabtable.trad %>"</p>

<ul>
    % for(vocabtable of listeMots) { %>
      <li> How do you say "%= vocabtable.mot %>" ?</li>
    % } %>
  </ul>
  
  <form action="/rep/%= vocabtable.id %>" method="POST">
    Your answer : <input name="trad" /> <input type="submit" />
     <a href="/rep/%= vocabtable.id %>"> <input type="submit" name="rep" value="Submit" id = "button"/></a> 
  </form> -->